@font-face {
    font-family: "Consolas";
    src: url("../fonts/CONSOLAS.TTF");
}

* {
    box-sizing: border-box;
    font-family: "Consolas", Helvetica, sans-serif;
    /* color: #727272; */
}

nav {
    margin-bottom: 10px;
    
    display: flex;
    justify-content: space-around;
}

.nav-button {
    padding: 5px;
    border: 1px solid #999999;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.submit {
    background-color: lightblue;
    display: inline-block;
    padding: 5px;
    border: 1px solid #7eacbc;
    color: #2c505c;
    cursor: pointer;
}

.failure-toast {
    display: inline-block;
    background-color: #e6adad;
    padding: 5px;
    border: 1px solid #e6adad;
    color: #5c2c2c;
}

.success-toast {
    display: inline-block;
    background-color: #ade6b7;
    padding: 5px;
    border: 1px solid #ade6b7;
    color: #375c2c;
}

.invisible {
    display: none;
}

fieldset {
    border: 1px solid #999999;
}

legend {
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
}

.text-input {
    padding: 5px;
    border: 1px solid #999999;
    margin: 10px 0px 20px 0px;
}

.text-input:focus {
    outline: none;
}